/*.layered {*/
  /*display: grid;*/
/*}*/

/*.layered * {*/
  /*grid-column-start: 1;*/
  /*grid-row-start: 1;*/
/*}*/

img {
  display: grid;
  /*margin: 24px;*/
}

.home-img { 

  /* Fill the page with the image*/
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0px;
  right: 0px;

  opacity: 75%; 
  z-index:-1;
  /*opacity: 75%;*/
  /*width: auto; */
  /*max-width: 100%; */
  /*background-size: contain;*/
  /*padding: 6px; */
  /*margin: 24px; */
  /*margin: auto;*/
  /*margin-right: 24px;*/
  /*border: 16px solid green; */
  /*box-sizing: border-box;*/
}
