name: Deploy to GitHub Pages


on:
  push:
    branches: [master]


jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NEXT_PUBLIC_BASE_PATH: /website

    strategy:
      matrix:
        node-version: [17.x]


    steps:
      - name: Get files
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install all dependencies
        run: yarn add  --immutable --immutable-cache --check-cache classnames tailwindcss postcss-preset-env postcss-flexbugs-fixes sass date-fns gray-matter remark remark-html
      - name: Install all dev dependencies
        run: yarn add  --immutable --immutable-cache --check-cache --dev typescript @types/react @types/node
      - name: Build project
        run: yarn next build
      - name: Export static files
        run: yarn next export
      - name: Add .nojekyll file
        run: touch ./out/.nojekyll && touch ./out/_next/.nojekyll
      - name: Make Subprojects Dir
        run: mkdir subprojects
      - name: Clone Resume Repository
        run: git clone https://github.com/jmdaemon/cv subprojects/cv && cd subprojects/cv
      - name: Build Resume
        uses: xu-cheng/latex-action@v2
        with:
          args: "--output-directory build -pdf -file-line-error -halt-on-error -interaction=nonstopmode"
          root_file: cv.tex
      - name: Copy Resume to output directory
        run: cd ../.. && cp subprojects/cv/build/cv.pdf ./out/public/
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: out
